<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_load_after">
        <observer name="product_lock_attributes" instance="Task2\CustomAttribute\Observer\Lock"/>
    </event>
    <event name="catalog_product_save_before">
        <observer name="test_name" instance="Task2\CustomAttribute\Observer\Productsaveafter" />
    </event>
</config>