<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sigma_Contact::contact" title="MyContact" translate="title" module="Sigma_Contact" sortOrder="20"  resource="Sigma_Contact::contact"/>
       <!-- <add id="Mageplaza_HelloWorld::post" title="Manage Posts" module="Mageplaza_HelloWorld" sortOrder="10" action="mageplaza_helloworld/post" resource="Mageplaza_HelloWorld::post" parent="Mageplaza_HelloWorld::helloworld"/>-->

        <add id="Sigma_Contact::contactlist" title="MyContact" module="Sigma_Contact" sortOrder="30" parent="Sigma_Contact::contact" action="mycontact/mycontact/index" resource="Sigma_Contact::contact"/>

    </menu>
</config>