<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sigma_contact_post_listing_data_source" xsi:type="string"> Sigma\Contact\Model\ResourceModel\Test\Collection </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Sigma\Contact\Model\ResourceModel\Test\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">sigma_mycontact</argument>
            <argument name="resourceModel" xsi:type="string">Sigma\Contact\Model\ResourceModel\Test</argument>
        </arguments>
    </virtualType>
</config>
       <!-- <?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<virtualType name="Module\AdminGrid\Model\ResourceModel\CustomRule\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
    <arguments>
        <argument name="mainTable" xsi:type="string">admingrid_customrule</argument>
        <argument name="resourceModel" xsi:type="string">Module\AdminGrid\Model\ResourceModel\CustomRule\Collection</argument>
    </arguments>
</virtualType>
<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
    <arguments>
        <argument name="collections" xsi:type="array">
            <item name="admingrid_customrule_listing_data_source" xsi:type="string">Module\AdminGrid\Model\ResourceModel\CustomRule\Grid\Collection</item>
        </argument>
    </arguments>
</type>
</config>-->
<!--
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
    <arguments>
        <argument name="collections" xsi:type="array">
            <item name="sigma_contact_post_listing_data_source" xsi:type="string"> Sigma\Contact\Model\ResourceModel\Post\Collection </item>
        </argument>
    </arguments>
</type>
<virtualType name="Sigma\Contact\Model\ResourceModel\Post\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
    <arguments>
        <argument name="mainTable" xsi:type="string">sigma_mycontact</argument>
        <argument name="resourceModel" xsi:type="string">Sigma\Contact\Model\ResourceModel\Post</argument>
    </arguments>
</virtualType>
</config>-->
